@font-face {
  font-family: SharpSansDispNo1-Bold;
  src: url(SharpSansDispNo1-Bold.otf);
  font-weight: bold;
}
  
body {
  font-family: "SharpSansDispNo1-Bold", sans-serif;
  font-weight: bold;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashy {
  background-image: url("dev.gif");
  background-size: cover;
}

.simple {
  background-color:black;
  height: 100%;
}

.invert {
  filter: invert(1);
}

.title-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em;
  animation: 10s jitter;
  animation-iteration-count: infinite;
}

.title {
  font-size: 10vh;
  color: white;
  width: 100%;
  animation: .6s title;
  animation-delay: .6s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-timing-function: steps(10, end);
}

.logo-container {
  width: 10px;
}

.logo {
  animation: 1s reveal-center;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-fill-mode: backwards;
  position: absolute;
  left: 2em;
  top: 2em;
}

path {
  animation: .1s strobe;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-timing-function: steps(1, end); 
  fill: black;
  stroke: white;
}

.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.slide {
  position: absolute;
  color: white;
  letter-spacing: 1px;
}

.first {
  font-size: 5em;
  animation: 2s reveal-tracking;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  animation-fill-mode: backwards;
}

.second {
  font-size: 4em;
  margin-top: 1.1em;
  margin-left: .5em;
  animation: 2s reveal-tracking;
  animation-delay: 1.5s;
  animation-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
  animation-fill-mode: backwards;
}

/* Animation */

@keyframes reveal-tracking {
  0% {
    margin-left: -1em;
    letter-spacing: -10px;
    opacity: 0;
  }
}

@keyframes reveal-center {
  0% {
    transform: scaleX(0.01);
    opacity: 0;
  }
}

@keyframes strobe {
  50% {
    fill: white;
    stroke: black;
  }
  100% {
    fill: white;
    stroke: white;
    stroke-width: 0;
  }
}

@keyframes title {
  0% {
    transform: scale(-1em);
    color: black;
    filter: blur(10px);
  }
} 

@keyframes jitter {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(0.5deg)
  }
  75% {
    transform: rotate(-0.5deg)
  }
  100% {
    transform: rotate(0deg);
  }
}


